{% extends "index.html" %} {% block content %}
<div class="container pokedex">
  {% for pokemon in dex %}
 <div class="card-outer-border">
  <div
  class="card-pokedex"
  style="width: 14rem"
  id="{% if pokemon[2] %}type-{{ pokemon[2]|lower }}{% endif %}"
>
<form class="pkmn-data" action="/pkmn" method="post">
  <input type="hidden" name="pkmn-id" value="{{ pokemon[0] }}" />
  <input type="hidden" name="pkmn-name" value="{{ pokemon[1] }}" />
  <input type="hidden" name="pkmn-ptype" value="{{ pokemon[2] }}" />
  <input type="hidden" name="pkmn-sectype" value="{{ pokemon[3] }}" />
  <input type="hidden" name="pkmn-region" value="{{ pokemon[4] }}" />
  
  <div class="bg-circle"></div>
  <img
    src="{{ pb.SpriteResource('pokemon', pokemon[0]).url }}"
    class="pkmn-card-img"
    alt="Picture of the Pokémon with ID {{ pokemon[0] }}"
  />
  <div class="card-body">
    <h5 class="card-dex">DexNo: {{ pokemon[0] }}</h5>
    <h4 class="card-name">{{ pokemon[1] }}</h4>
    <div class="typing">
      <p class="card-type">
        Type: <span class="white">{{ pokemon[2] }}</span>
      </p>
      <p class="card-type">
        Type: {% if pokemon[3] is none %} --- {% else %}
        <span class="white">{{ pokemon[3] }}</span> {% endif %}
      </p>
    </div>
  </div>
  </form>
</div>
 </div>
  {% endfor %}
</div>
{% endblock %}

<!-- <table class="table table-striped table-hover">
  <tr>
    <th class="main-heading">Dex#</th>
    <th class="main-heading">Pokémon</th>
    <th class="main-heading">Type</th>
    <th class="main-heading">Type</th>
  </tr>
  {% for pokemon in dex %}
  <tr class="data">
    <form class="pkmn-data" action="/pkmn" method="post">
      <input type="hidden" name="pkmn-id" value="{{ pokemon[0] }}" />
      <input type="hidden" name="pkmn-name" value="{{ pokemon[1] }}" />
      <input type="hidden" name="pkmn-ptype" value="{{ pokemon[2] }}" />
      <input type="hidden" name="pkmn-sectype" value="{{ pokemon[3] }}" />
      <input type="hidden" name="pkmn-region" value="{{ pokemon[4] }}" />
      <td class="dex-no">
        <img
          class="pkmn-img"
          src="{{ pb.SpriteResource('pokemon', pokemon[0]).url }}"
          alt="Picture of the pokemon with the id {{ pokemon[0] }}"
        />
        {{ pokemon[0] }}
      </td>
      <td class="dex-name">{{ pokemon[1]}}</td>
      <td
        class="main-type"
        id="{% if pokemon[2] %}type-{{ pokemon[2]|lower }}{% endif %}"
      >
        {{pokemon[2]}}
      </td>
      <td
        class="secondary-type"
        id="{% if pokemon[3] %}type-{{ pokemon[3]|lower }}{% endif %}"
      >
        {% if pokemon[3] is none %} --- {% else %} {{ pokemon[3] }} {% endif %}
      </td>
    </form>
  </tr>
  {% endfor %}
</table> -->
